<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<th:block layout:fragment="content">
    <body>
    <div class="row">
        <div class="col-2">
            <form method="post" th:action="@{'/blog/' + ${entry.id} + '/delete'}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>

        <div class="col-8">

        </div>

        <div class="col-2">
            <a class="btn btn-success" th:href="@{'/blog/' + ${entry.id} + '/update'}">Update</a>
        </div>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${entry.title}"></td>
            <td th:text="${entry.body}"></td>
        </tr>
        </tbody>
    </table>
    </body>
</th:block>
</html>
